{% extends 'base.html' %}


{% block title %}{% endblock %}



{% block content %}



<div class="field has-addons">
    <div class="control m-1" style="margin-right: 5px;">
        <input class="input is-inline" type="text" placeholder="Ime grada/opštine">
        <a class="button is-info m-0">
            Pretraga
        </a>
    </div>
</div>


<div style="display: grid; grid-template-columns: 1fr 2fr 1fr; justify-items: center;">
    {% for obj in object_list %}
    <div class="ui fluid card" style="grid-column: 2/3;">
        <div class="content">
            <div class="right floated meta is-inline-block">
                <div class="ui grid">
                    <div class="row">
                        {% if request.user == obj.author %}
                        <a href="{% url 'posts:post_update' obj.pk %}"><button
                                class="ui button bwhite-lg ">Promijeni</button></a>
                        <a href="{% url 'posts:post_delete' obj.pk %}"><button class="ui button bwhite-lg ">Obriši</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <img class="ui avatar image" src="/media/profile_pics/{{obj.author.image}}" >
            <p class="is-inline-block" style="font-weight: bold;">{{obj.author.first_name}}&nbsp;{{obj.author.last_name}}</p>
        </div>
        <div class="content">
            <p id='title' class="has-text-weight-bold"
                style="font-size: large; white-space:wrap; inline-size: 350px; overflow-wrap: break-word;">
                <a onMouseOver="this.style.color='hsl(171, 100%, 41%)'" 
                    onMouseOut="this.style.color='#000000'"
                    id='title' style="text-decoration: none; color: black;" 
                    href="{% url 'posts:post_detail' obj.pk %}"> {{ obj.title }}</a> </p>
            <p style="white-space:wrap; inline-size: 350px; overflow-wrap: break-word;">{{obj.body}}</p>
            <div class="right floated">
                
                {% if user not in obj.users_liked.all %}
                <div class='like-form is-inline-block'>
                        <a class="button is-primary" href="{% url 'posts:like_dislike' post_id=obj.pk user_preference=1 %}">Like</a>
                   
                    <!-- <div class="ui grid">
                           <div class="column">
                                <div class="like-count{{obj.id}}"> {{obj.num_likes}} </div>
                            </div> 
                            <div class="column">
                                likes
                            </div> 
                        </div>-->
                    </div>
                {% else %}
                <div class='like-form is-inline-block'>
                        <a class="button is-danger" 
                        href="{% url 'posts:like_dislike' post_id=obj.pk user_preference=2 %}"
                        >Unlike</a>
                   
                    <!-- <div class="ui grid">
                           <div class="column">
                                <div class="like-count{{obj.id}}"> {{obj.num_likes}} </div>
                            </div> 
                            <div class="column">
                                likes
                            </div> 
                        </div>-->
                    </div>
                 {% endif %}
            </div>
            <!--  <i class="comment icon"></i>
               <span> {{ obj.num_comments }} comments</span>-->
        </div>
        <div class="extra content">
            {% for comment in obj.comments.all %}
            <article class="media">
  <figure class="media-left">
    <p class="ui avatar image"><img src="/media/profile_pics/{{comment.user.image}}">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
       <p>
        <strong>{{obj.author.first_name}}&nbsp;{{obj.author.last_name}}
        </strong> <small>{{ comment.created|timesince }} ago</small>
        <br>
        {{ comment.body }}
      </p>
                    
                    
    </div>
    
  </div>
  <div class="media-right">
    <button class="delete"></button>
  </div>
</article>
{% endfor %}
                
            
            <form action="" method="POST" class='ui fluid form'>
                {% csrf_token %}
                <input type="hidden" name="post_id" value={{obj.id}}>
                <!--  {{ c_form }} -->
                <a class="button is-primary"
                 href="{% url 'posts:add_comment' obj.id %}">Dodaj komentar</a>
            </form>
        </div>
    </div>


    {% endfor %}
</div>



<br> <br>
{% for contact in page_obj %}


{% endfor %}
<div class="pagination is-rounded" style="justify-content: center;">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="pagination-link"><<</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">
                    <</a>
                        {% endif %}

                        <span class="pagination-ellipsis" style="font-weight: 500; color: black;">
                            Stranica {{ page_obj.number }} od {{ page_obj.paginator.num_pages }}
                        </span>

                        {% if page_obj.has_next %}
                        <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">></a>
                        <a class="pagination-link" href="?page={{ page_obj.paginator.num_pages }}">>></a>
                        {% endif %}
    </span>
</div>
{% endblock %}