{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
{{post}}
<p>{{ post.body|linebreaks }}</p>
<hr>
<h2>Comments</h2>

<br>
<h1>Add comment</h1>

<a href="{% url 'posts:add_comment' post.id %}" 
class="button is-primary">Dodaj komentar</a>
 <br>

{% if not post.comments.all %}

    NO COMMENTS YET
{% else %}



{% for comment in post.comments.all %}
{{ comment.created|timesince }} ago
<br>
<p>{{ comment.body }}</p>
{% endfor %}
{% endif %}


{% endblock %}