{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<div id="app">
    <div class="hero-body has-text-left">
        <div class="container">
            <h2 class="title is-3">Reset Password</h2>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <form method="POST">
                    {% csrf_token %}
                    <div class="field"><label class="label">Unesite Vašu email adresu</label>
                        <p class="control has-icons-left has-icons-right">
                        <input type="email" name="email"
                            placeholder="Email" value="" 
                            required="required" autofocus="autofocus"
                            class="input ">
                        <span class="icon is-small is-left"><i
                            class="fa fa-envelope"></i></span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control"><button class="button is-success">
                        Dalje</button></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
