{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<div id="app">
   
        <div class="hero-body has-text-left">
            <div class="container">
                <h2 class="title is-3">Reset Password</h2>
            </div>
        </div>
        <div class="container">
            <div class="columns">
                <div class="column is-half">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field"><label class="label">Email</label>
                            <p class="control has-icons-left has-icons-right"><input type="email" name="email"
                                    placeholder="Email" value="" required="required" autofocus="autofocus"
                                    class="input "> <span class="icon is-small is-left"><i
                                        class="fa fa-envelope"></i></span></p>
                        </div>
                        <div class="field">
                            <p class="control"><button class="button is-success">
                                    Send Password Reset Link
                                </button></p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="columns">
                <div class="column"><a href="https://bulmastyle.com/login" class="btn btn-link">
                        Back to Sign in
                    </a></div>
            </div>
        </div>
  
</div>
{% endblock %}
