{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{% endblock %}

{% block content %}

<div class="is-flex is-justify-content-center is-align-content-center">
  <div class="login-container">
    <div class="field m-3">
<form method='post'>
    {% csrf_token %}
    <label class="has-text-weight-bold" for="{{ form.new_password1.id_for_label }}">Nova šifra</label>
    <div class="field m-3">
          <p class="control has-icons-left has-icons-right"></p>
          {{ form.new_password1 }}
          {{ form.new_password1.errors }} 
        </div>
    <label class="has-text-weight-bold" for="{{ form.new_password2.id_for_label }}">Potvrdi šifru</label>
    <div class="field m-3">
          <p class="control has-icons-left has-icons-right"></p>
          {{ form.new_password2 }}
          {{ form.new_password2.errors }}
        </div>
    <div class="field m-3 is-justify-content-center">
          <p class="control">
            <button class="button is-success">
              Potvrdi
            </button>            
          </p>
        </div>
</form>
</div>
  </div>
</div>




{% endblock %}