{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}



<div class="section" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
    <div style="grid-column: 1;" 
    class="title">Uredi profil
    </div>
    <div class="container" style="grid-column: 3;">
            <img src='/media/profile_pics/{{request.user.image}}' 
            class="image is-128x128" style="border-radius: 50%;">
    </div>
</div>

<div class="section">
    <div class="columns" style="display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;">


        <div style="grid-column: 1;">
            <aside class="menu">
                <p class="menu-label ml-3">
                Menu
                </p>
                <ul class="menu-list">
                <li>
                    <a href="{% url 'accounts:my_profile' request.user.slug %}">
                        Osnovni podaci</a>
                </li>
                <li><a href="{% url 'accounts:change_password' %}">Sigurnost</a></li>
                <li>
                    <a href="{% url 'chat:inbox' request.user.id %}">Inbox (  )</a>
                </li>
                </ul>      
            </aside>
        </div>


        <div style="grid-column: 3/5;">
            <form id="control" method="post">
                {% csrf_token %}
                <div class="field">
                {% for field in form %}
                {{ field.label_tag }}

                    <div class="field m-3">
                    <p class="control has-icons-left has-icons-right"></p>
                    <input class="input" id="{{ field.id_for_label }}" 
                    name="{{ field.html_name }}"
                        type="{{field.widget_type}}" 
                        {% if field.value != None and field.value != 'default.jpg' %}
                        value="{{field.value}}"{% endif %}/>
                    {{ field.errors }}
                    </div>
                {% endfor %}
                <br>
                <div class="field m-3">
                    <button class="button is-primary is-medium" 
                    type="submit">Potvrdi izmjene</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
