{% extends 'base.html' %}

{% block content %}


<div id='bodybox' style="margin-top: 10px;">
  <div id='chatborder'>
    <p id="chatlog7" class="chatlog">&nbsp;</p>
    <p id="chatlog6" class="chatlog">&nbsp;</p>
    <p id="chatlog5" class="chatlog">&nbsp;</p>
    <p id="chatlog4" class="chatlog">&nbsp;</p>
    <p id="chatlog3" class="chatlog">&nbsp;</p>
    <p id="chatlog2" class="chatlog">&nbsp;</p>
    <p id="chatlog1" class="chatlog">&nbsp;</p>
    <input type="text" name="chat-box" id="chatbox" placeholder="Unesite poruku" onfocus="placeHolder()">
  </div>
  <br>
  <br>
 
{% endblock content %}
