<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}<title></title>{% endblock %}
  <link rel="stylesheet" href="{% static 'bulma/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'main.css' %}">


  {% if user.is_authenticated %}
  <nav class="navbar is-dark" style="border-radius: 0 !important; 
                  -moz-border-radius: 0 !important;">

    <div class="navbar-brand" style="margin-top: 2px;">
      <a href="{% url 'posts:home' %}">
        <figure class="image is-96x96">
          <img src='/media/logo.png' class="is-rounded">
        </figure>
      </a>
      <div class="navbar-item center">
        <form method="GET">
          <div class="control m-1 is-inline-block">
            <input name='searched' class="input" size="30" type="text" 
                          placeholder="Ime grada/opštine">
          </div>
          <div class="control m-1">
            <label class="checkbox">
              <input name='looking' type="checkbox">
              Tražim
            </label>
            <label class="checkbox">
              <input name='offering' type="checkbox">
              Nudim
            </label>
            <input type="submit" class="button is-info m-0 is-small" 
            value="Pretraga" style="width: 50%;">
          </div>
        </form>
      </div>

      <span class="navbar-burger burger" data-target='navbarMenu'>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div id='navbarMenu' class="navbar-menu" 
      style="background-color: hsl(0, 0%, 21%);">
      
      <div class="navbar-end" style="margin-right: 5px; ">
          <div class="navbar-item">
        <div class="buttons">
        <a href="{% url 'posts:post_create' %}" 
        class="button is-primary is-outlined">Tražim/Nudim</a>
        <a href="{% url 'accounts:my_profile' request.user.slug %}" 
        class="button is-primary is-outlined">Profil</a>
        <a href="{% url 'logout' %}"
          class="button is-danger is-outlined">Odjavi se</a>
        </div>
          </div>
      </div>
  </nav>

  {% else %}
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="{% url 'users:signup' %}">
            <strong>Registracija</strong>
          </a>
          <a class="button is-primary" href="{% url 'login' %}">
            Prijavi se
          </a>
        </div>
      </div>
    </div>
  </nav>
  {% endif %}
  {% include 'messages.html' %}
</head>
<body>

  {% block content %}
  {% endblock %}

  <script type="text/javascript">
    // burger menu
    (function () {
      var burger = document.querySelector('.burger');
      var navbarMenu = document.querySelector('#' + burger.dataset.target);

      burger.addEventListener('click', function () {
        burger.classList.toggle('is-active');
        navbarMenu.classList.toggle('is-active');
      });
    })();
    // dropdown is-active on click
    var dropdown = document.querySelector('.dropdown');
    dropdown.addEventListener('click', function (event) {
      event.stopPropagation();
      dropdown.classList.toggle('is-active');
    });
  </script>
</body>

</html>
