{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}<title>Registracija</title>{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}
    <div id="app">
  <div class="section">
    <div class="container">
      <div class="media is-pulled-right">
        <div class="media-content">
          <div class="field is-grouped">
            <div class="control">
              <div class="g-signin2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="title">Registruj se</div>
      <div class="subtitle">Koristeći email adresu</div>
      <form id="register-form">
        <div class="field">
          <label class="label" for="username">Korisničko ime</label>
          <div class="control has-icons-left">
            <input class="input mb-1" type="text"  name="username"/>
          </div>
          <label class="label" for="email">Email</label>
          <div class="control has-icons-left">
            <input class="input" type="email"  name="email"/>
          </div>
          <div class="columns row-one">
            <div class="column">
              <label class="label" for="city">Grad</label>
              <div class="control">
                <input class="input" type="text" name="city"/>
              </div>
            </div>
            <div class="column">
              <label class="label" for="country">Država</label>
              <div class="control">
                <input class="input" type="text" name="country"/>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <label class="label" for="password">Šifra</label>
              <div class="control has-icons-left">
                <input class="input" type="password" name="password"/>
              </div>
            </div>
            <div class="column">
              <label class="label" for="retypePassword">Potvrdi šifru</label>
              <div class="control has-icons-left">
                <input class="input" type="password" name="retypePassword"/>
              </div>
            </div>
          </div>
          
            <div class="control">
              <button class="button is-primary is-medium" type="submit">Potvrdi</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
  </form>
{% endblock %}